.input-row {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.label {
  justify-self: center;
  align-self: center;
}
.text {
  height: 30px;
  border: 2px solid #c1c0b9;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.submit-row {
  display: grid;
}
.submit {
  height: 30px;
  width: 350px;
  background-color: white;
  border: 2px solid #c1c0b9;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  justify-self: center;
}
.submit:hover {
  background: gainsboro;
  font-weight: bold;
  border: 2px solid black;
}
input:focus {
  outline: 0;
}
