.todo-app {
  border: 10px solid #C1C0B9;
  font-family: 'Montserrat', sans-serif;
  margin: 50px auto 0 auto;
  padding: 0 20px 10px 20px;
  width: 400px;
  min-height: 600px;
  border-radius: 25px;
}

h1 {
  text-align: center;
}
